#font1{
    font-family:"Libre Baskerville", serif;
    color: white;
    text-align: center;
    font-size:40px
    
}

#font2{
    font-family:"Libre Baskerville",serif;
    color:white;
    text-align: center;
    font-size:15px
}

*{
    background-color: black;
}

#div{
    border: 5px solid white;
    width: 550px;
    height: 300px;
    text-align: center;
    margin-left: 490px;
    margin-top: 70px;


}
img{
    height: 300px;
    width:550px
}

